*.user
*.user.*
*.aeproperties
.vs/
*.tmp
*.Generated.cs
*.Generated.Event.cs
*.generatedpreview.png
*.ods#
TiledObjects.Generated.xml
*.cachefile
*.csvSettings
*.sln.metaproj
packages/
Scythe/Scythe/bin/
Scythe/bin/
Scythe/Scythe/obj/
Scythe/obj/
Scythe/Content/obj/
!Scythe/x64
!Scythe/x86
!Scythe/Libraries
